<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1Saz_S0gAmXHb9a9josar5wxAkajpdYY</string>
	<key>GCM_SENDER_ID</key>
	<string>255419886147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chordMemorizerCp</string>
	<key>PROJECT_ID</key>
	<string>chord-memorizer</string>
	<key>STORAGE_BUCKET</key>
	<string>chord-memorizer.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255419886147:ios:ee91d3ce8169ee25ff82f6</string>
</dict>
</plist>